{% extends "blog/base.html" %}

{% block content %}
	{% for trail in trails %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">Difficulty: {{ trail.difficulty }}</a>
		      <small class="text-muted">{{ trail.location}}</small>
		    </div>
		    <h2><a class="article-title" href="#">{{ trail.trail_name }}</a></h2>
		    <p class="article-content">{{ trail.description }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}
