{% extends "blog/base.html" %}

{% block content %}
	{% for trail in trails %}
		<article class="media content-section">
		  <div class="media-body">
		    <div class="trail-data">
		      <a class="mr-2" href="#">Difficulty: {{ trail.difficulty }}</a>
		      <small class="text-muted">{{ trail.lat }} {{ trail.lng }}</small>
		    </div>
		    <h2><a class="trail-name" href="#">{{ trail.trail_name }}</a></h2>
		    <p class="trail-description">{{ trail.description }}</p>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}
